@import url('https://fonts.google.com/specimen/Mooli');

:root{
    --color-texto:#FFFFFF;
    --color-fondo:#C9F299;
    --color-titulos:#4F345A ;
    --color-fondo-oscuro:#5D4E6D;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70.5%;
}
body{
    background: linear-gradient(#1E2749 30%, #E4D9FF);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    box-sizing: border-box;
    font-size: 35.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
header{
  
    height: 6rem;
    width: 100%;
    color:var(--color-texto);
    font-size: 4rem;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.container{
    background: linear-gradient(#30343F, #007EA7);
    color:#E8EBF7;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius: 1.5rem;
    min-height: 20rem; 
    max-width: 80rem;
    overflow-y: scroll;
    
}
.result{
    padding: 1rem;
    font-size:x-large;
    width: 80%;
    min-height: 20rem; 
    justify-content: center;
    align-items: center;
    
}
button{
    font-size: 2rem;
    width: 15rem;
    height: 4rem;
    margin: 2rem 0;
    padding: .6rem 3.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--color-texto);
    display: flex;
    flex-wrap: wrap;
    
}
input{
    
    font-size: 2rem;
    flex-wrap: wrap-reverse;
    justify-content: right;
    margin:  1rem ;
    padding: 1rem ;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius: 1.5rem;
    max-height: 20rem;
    max-width: 40rem;
    
}
h1{
    font-size: 2rem;
    color: #E8EBF7;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}